<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <meta name="description" content="CC Extensions - Photoshop Plugins, Extensions and Scripts">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.baseurl}}/rss.xml">
    
    <!-- FAVICON-->
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{site.baseurl}}/manifest.json">
    <link rel="mask-icon" href="{{site.baseurl}}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
   
    {% for social_meta in page.social %}
        <meta {{ social_meta }} />
    {% endfor %}

    <!-- Bootstrap -->
     <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
<!--    <link href="{{site.baseurl}}/css/main.min.css" rel="stylesheet">-->
    {% if page.beforeafter %}
    <link href="{{site.baseurl}}/css/twentytwenty.min.css" rel="stylesheet">
    {% endif %}

    {% if page.author == "Fixel Algorithms" %}
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    {% endif %}

    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
            cookiePolicyId: 7877383,
            siteId: 575525,
            lang: "en"
        };
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>