<!-- Nav Desktop -->
<nav class="header container visible-lg visible-md">
    <a class="navbar-brand pull-left" href="/index.html"><img src="{{site.baseurl}}/images/CsExt.png" width="249" height="115" alt="CS Extensions"></a>
    <ul class="nav nav-pills pull-right">
        <li class="h4 {% if page.class == 'product' %} active {% endif %}"><a href="/index.html">PRODUCTS</a></li>
        <li class="h4 {% if page.class == 'news' %} active {% endif %}"><a href="/news/">NEWS</a></li>
        <li class="h4 {% if page.class == 'support' %} active {% endif %}"><a href="/support/">SUPPORT</a></li>
        <li class="h4 {% if page.class == 'buy' %} active {% endif %}"><a href="/buy/">BUY</a></li>
    </ul>
</nav>

<!-- Nav Tablet -->
<nav class="header container-fluid visible-sm">
    <a class="navbar-brand pull-left" href="/index.html"><img src="{{site.baseurl}}/images/CsExt.png" width="249" height="115" alt="CS Extensions"></a>
    <ul class="nav nav-pills pull-right">
        <li class="h4 {% if page.class == 'product' %} active {% endif %}"><a href="/index.html">PRODUCTS</a></li>
        <li class="h4 {% if page.class == 'news' %} active {% endif %}"><a href="/news/">NEWS</a></li>
        <li class="h4 {% if page.class == 'support' %} active {% endif %}"><a href="/support/">SUPPORT</a></li>
        <li class="h4 {% if page.class == 'buy' %} active {% endif %}"><a href="/buy/">BUY</a></li>
    </ul>
</nav>

<!-- Nav Phones -->
<nav class="header visible-xs navbar-inverse navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-phone">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Photoshop Extensions &amp; Scripts</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-phone">
        <ul class="nav navbar-nav">
            <li class="h4 {% if page.class == 'product' %} active {% endif %}"><a href="/index.html">PRODUCTS</a></li>
            <li class="h4 {% if page.class == 'news' %} active {% endif %}"><a href="/news/">NEWS</a></li>
            <li class="h4 {% if page.class == 'support' %} active {% endif %}"><a href="/support/">SUPPORT</a></li>
            <li class="h4 {% if page.class == 'buy' %} active {% endif %}"><a href="/buy/">BUY</a></li>
        </ul>
    </div>
</nav>